@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  padding-bottom: 2px;

  .row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
    user-select: none;
  }

  .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background: #f8f9fa;
    border-top: none;
    position: relative;

    .row-resize {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 4px;
      background-color: #3c74ff;
      opacity: 0;
      transition: opacity .22s ease-in-out;

      &:hover {
        opacity: 1;
        cursor: row-resize;
      }

      &.active {
        opacity: 1;
        z-index: 1000;
      }
    }    
  }

  .row-data {
    display: flex;
  }

  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
    height: 100%;
    color: rgb(37, 37, 37);
    position: relative;

    .col-resize {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 5px;
      background-color: #3c74ff;
      opacity: 0;
      transition: opacity .22s ease-in-out;      

      &:hover {
        opacity: 1;
        cursor: col-resize;
      }

      &.active {
        opacity: 1;
        z-index: 1000;        
      }     
    }
  }  

  .cell {
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: 0;
    border-left: 0;
    color: rgb(194, 194, 194);
    white-space: nowrap;
    outline: none;


    &.selected {
      border: none;
      outline: 2px solid #3c74ff;
      z-index: 2;
    }
  }

}
